[mgr]
show_hidden = true
show_symlink = true
linemode = "size_and_mtime"
ratio = [2,7,5]

[opener]
play = [
  { run = 'mpv "$@"', orphan = true, for = "unix" },
]
edit = [
  { run = '"$EDITOR" "$@"', block = true, for = "unix" },
]
open = [
  { run = 'xdg-open "$@"', desc = "Open" },
  # { run = '''clear; exiftool "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show EXIF", for = "unix" },
]

[open]
prepend_rules = [
  { name = "*.json", use = "edit" },
  { name = "*.sh", use = "edit" },
  { name = "*.toml", use = "edit" },
  { name = "*.y*ml", use = "edit" },
  { name = "*config", use = "edit" },
  { name = "*.cfg", use = "edit" },
  { name = "*env", use = "edit" },
  { name = "*.d", use = "edit" },
  { name = "*.md", use = "edit" },
  { name = "*.txt", use = "edit" },
  { name = ".zsh*", use = "edit" },
  { name = "*.ini", use = "edit" },
  { name = "*.lua", use = "edit" },
  { name = "*.xml", use = "edit" },
  { name = "*.log", use = "edit" },
  { name = "*.ods", use = "open" },
  { name = "*.pdf", use = "open" },
  { name = "*.mp3", use = "play" },
]
append_rules = []

# [plugin]
# prepend_previewers = [
#     { mime = "text/csv", run = "miller"},
# ]
# preload = [
#   { on = "start", run = "shell notify-send 'Welcome to Yazi'"  },
#   { on = "start", run = "shell kitty @ set-background-image /home/andrei/Documents/background_16on9.png" }
# ]

# [[plugin.prepend_fetchers]]
# id   = "git"
# name = "*"
# run  = "git"
#
# [[plugin.prepend_fetchers]]
# id   = "git"
# name = "*/"
# run  = "git"
